@include mediaXl {
}

@include mediaLg {
}

@include mediaMd {
  header {
    .menu-btns {
      height: 56px;
      .navbar-lg {
        display: none;
      }
      .navbar-sm {
        display: flex;
        width: 90vw;
        margin: auto auto;

        .nav-left {
          flex: 1;
          text-align: left;
          display: flex;
          justify-content: flex-start;
          a {
            align-self: center;
            padding: 0 3vw;
          }
        }
        .nav-center {
          flex: 1;
          text-align: center;
          a {
            font-size: $md-title;
            align-self: center;
            color: $header-color;
          }
        }
        .nav-right {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          font-size: $sm-title;
          a {
            align-self: center;
            padding: 0 3vw;
          }
        }
      }
    }
  }
}

@include mediaSm {
  body {
    text-align: center;
  }

  #login-form {
    &.show {
      max-width: 280px;
      padding: 20px;
    }
  }
  .showcase {
    height: 90vh;
    .showcase-text {
      h1 {
        font-size: 35px;
        margin-bottom: 0px;
        line-height: 2.5rem;
      }
      h2 {
        font-size: $sm-title;
      }
    }
  }
  .home-rides {
    .content {
      padding: 24px 16px;
      h2 {
        line-height: 2.5rem;
        a {
          display: none;
        }
      }
    }
  }

  .home-grid {
    grid-template-columns: 1fr;
    h2 {
      line-height: 2.5rem;
    }
  }
  .find-more {
    margin-bottom: 0;
    h2,
    .title {
      line-height: 2.5rem;
      a {
        display: none;
      }
    }
    .intro-grid {
      grid-template-columns: 1fr;
    }
  }

  .highlights {
    margin-top: 0;
    padding-top: 0;
    h2 {
      line-height: 2.5rem;
    }
    .icon-boxes {
      grid-template-columns: 1fr;
    }
  }

  .sm-callout {
    display: block;
  }
  footer {
    .pre-footer {
      .social-links {
        justify-content: center;
      }
      .footer-links {
        grid-template-columns: 1fr;
        grid-gap: 5px;
        padding: 10px;
      }
    }
  }
}
