@import "config";
@import "menu";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:600");
@import url("https://fonts.googleapis.com/css?family=Cabin:700|Source+Sans+Pro:700");
body {
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.menu-btns {
  position: fixed;
  width: 100vw;
  background-color: $white;
  display: flex;
  align-items: center;
  height: 72px;
  z-index: 60;
  border-bottom: 1px solid $grey;

  .navbar-sm {
    display: none;
  }

  .navbar-lg {
    max-width: 1160px;
    margin: 0 auto;
    flex: 1;
    display: flex;

    .nav-left {
      flex: 1;
      .brand {
        font-size: $md-title;
        color: $header-color;
      }
    }
    .nav-center {
      flex: 1;
    }
    .nav-right {
      flex: 1;
      display: flex;
      justify-content: space-between;
      font-size: $sm-title;
      a {
        align-self: center;
      }
    }
  }
}

.home-grid {
  max-width: 1016px;
  padding: 24px;
  margin: 24px auto 24px auto;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  img {
    width: 100%;
    border-radius: 5px;
  }

  .callout {
    h2 {
      font-size: $md-title;
      color: $header-color;
      font-weight: strong;
      padding: 24px 0;
    }
    p {
      font-size: $text;
      color: $text-color;
      margin-bottom: 16px;
    }
  }
}

.home-rides {
  background-color: $secondary-color;
  width: 100%;

  .content {
    max-width: 1016px;
    padding: 24px;
    margin: 24px auto;
    h2 {
      font-size: $md-title;
      color: #fff;
      padding: 5px;
      position: relative;
      margin-bottom: 24px;

      a {
        position: absolute;
        bottom: 0px;
        right: 0px;
        color: #fff;
        font-size: $text;
        padding: 5px;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: space-between;
      margin-bottom: 24px;

      li {
        flex: 1;
        align-self: space-between;
        margin: 0px 24px;

        a {
          display: flex;
          padding: 16px;
          background-color: #fff;
          border-radius: 4px;
          justify-content: space-around;
          margin-bottom: 16px;

          .ride-label {
            font-size: $sm-title;
            color: $header-color;
          }
          .ride-avg-price {
            font-size: $sm-title;
            color: $secondary-color;
          }

          .fa {
            color: $text-color;
            align-self: center;
          }
        }
      }
    }
  }
}

.find-more {
  margin: 24px auto;
  padding: 24px;
  max-width: 1016px;

  .title {
    font-size: $md-title;
    color: $header-color;
    padding: 24px 0;
    position: relative;

    a {
      display: inline-block;
      position: absolute;
      bottom: 0px;
      right: 0px;
      font-size: $text;
      padding: 24px;
    }
  }

  .intro-grid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;

    p {
      color: $text-color;
      font-size: $text;
      padding-bottom: 24px;
      &.small-title {
        font-size: $sm-title;
        color: $header-color;
        padding-bottom: 0px;
      }
    }
  }
}

.highlights {
  margin: 24px auto;
  padding: 24px;
  max-width: 1016px;
  h2 {
    font-size: $md-title;
    color: $header-color;
    padding: 24px 0;
  }
  .icon-boxes {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

    p {
      font-size: $text;
      color: $text-color;

      &.title {
        font-size: $sm-title;
        color: $header-color;
      }
    }

    .fa {
      font-size: $lg-title;
      color: $text-color;
      padding: 24px;
    }
    .icon-box &:nth-child(2) {
      margin: 0 48px;
    }
  }
}

.showcase {
  height: 90vh;
  position: relative;
  overflow: hidden;
  background-image: url(../img/travel.jpg);
  background-size: cover;
  text-align: center;

  &:after {
    display: block;
    position: relative;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0,
      rgba(0, 0, 0, 0.795) 100%
    );
    height: 100%;
    content: "";
  }

  .showcase-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 3rem;
    z-index: 2;
    h1 {
      font-size: $lg-title;
      color: #fff;
      margin-bottom: 24px;
    }
    h2 {
      font-size: $lg-subtitle;
      color: #fff;
      padding: 20px 0;
    }
  }
}

.sm-callout {
  display: none;
  margin-bottom: 10px;
  h2 {
    font-size: $md-title;
    color: $header-color;
    margin-bottom: 10px;
  }

  a {
    display: inline-block;
    margin: 10px 50px;
  }
}

footer {
  width: 100%;
  background-color: $light-grey;
  .pre-footer {
    max-width: 1016px;
    padding: 24px;
    margin: 0 auto;
    background-color: $light-grey;

    .social-links {
      display: flex;
      color: $primary-color;
      font-size: $md-title;

      .fab {
        color: $primary-color;
        font-size: $md-title;
        padding: 6px;
        &:hover {
          color: darken($primary-color, 15);
        }
      }
    }
  }

  .footer-links {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 24px 0;

    a {
      display: block;
      color: $header-color;
      font-size: $text;
      padding: 5px;
    }
  }
  .main-footer {
    background-color: $grey;
    color: $text-color;
    text-align: center;
    p {
      padding: 16px;
      font-size: 13px;
    }
  }
}

@import "mobile";
